@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&family=Roboto:wght@500&family=Shritransformkhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&family=Shrikhand&display=swap');

/*GLOBAL*/
html{
    width: 100%;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
    line-height: 2;
    color: black;      
}

h2 {
    padding: 12% 0 0 5%;
    font-size: 160%;
    font-weight: bolder;
    margin: 0;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

@mixin footer_link {
    text-decoration: none;
    margin: 0;
    color: white;
}

@keyframes progress_heart {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes duration_loader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin_loader {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.loader {
    z-index: 3;
    position: fixed;
    background-color: white;
    height: 100vh;  
    inset: 0;
    opacity: 0.9;  
    display: flex;
    justify-content: center;
    align-items: center;
    animation: duration_loader 200ms 3s forwards;
    >img {
        animation: spin_loader 1.5s infinite linear;
        object-fit: contain;
        width: 40%;
        height: 40%;
    }
}

/*DESKTOP*/


    /*HEADER*/
        
        header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        
        .logo_black {
            object-fit: contain;
            width: 20%;
            padding-top: 2%;
        }
        
            
    /*MAIN*/
        
        #search {
            height: 1px;
            margin: 2% 0 0 0;
            padding: 2% 0 2% 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(234, 234, 234);
            box-shadow: 0 -2px 2px rgb(206, 206, 206);
        
            >i {
                margin-right: 3%;
                color: rgb(53, 53, 53);
            }
    
            >input {
                width: 40%;
                border: none;
                background-color: rgb(234, 234, 234);
                outline: none;
                font-size: 100%;
                font-weight: bold;
                color: rgb(53, 53, 53)
            }  
    
            ::placeholder {
                color:rgb(53, 53, 53)
            }
        }
        
        #intro {
            width: 100%;
            background-color: rgb(246, 246, 246);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 5%;
                
            >h1 {
                width: 70%;
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 5% 0 0 0;
                font-size: 150%;
                line-height: 1.2;
            }
        
            >p {
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                color: rgb(96, 96, 96);
                line-height: 1.2;
            }
        
            >input {
                margin: 2% 0 0 0;
                border: none;
                border-radius: 30px;
                width: 20%;
                height: 60px;
                color: white;
                font-size: 100%;
                background-image: linear-gradient(to bottom right, $color-secondary, $color-primary );
                box-shadow: 3px 3px 5px rgb(206, 206, 206);
                transform: scale(1);
                transition: translate 400ms;
                
                &:hover{
                    transform: scale(1.15);
                }           
            }
        }
        
        #choice {
            width: 100%;
            display: flex;
            flex-direction: column;
    
            h2 {
                padding: 3% 0 0 5%;
                font-size: 160%;
                font-weight: bolder;
                margin: 0;
                }
        
            >ul {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 2% 0 2%;
                
                :hover {
                    background-color: rgb(245, 237, 255);
                }
            }              
        }
        
        .choice_list {
            border-radius: 15px;
            width: 25%;
            padding-left: 3%;
            height: 70px;
            margin-top: 5%;
            display: flex;
            align-items: center;
            background-color: rgb(246, 246, 246);
            box-shadow: 3px 3px 8px rgb(206, 206, 206);
                
            >span {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-primary;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: 80%;
                margin-left: -38px;
                pointer-events: none;
            }
        
            >i {
                font-size: 120%;
                color: rgb(143, 142, 142);
                width: 5%;
                margin-left: 7%;
            }
        
            >button {
                border: none;
                background: none;
                font-size: 100%;
                font-weight: bold;
                margin-left: 6%;
            }
        }
        
        #menu {
            background-color: rgb(246, 246, 246);
            margin: 5% 0 0 0;
            padding:0 0 5% 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            h2 {
                padding: 3% 0 0 5%;
                font-size: 160%;
                font-weight: bolder;
                margin: 0;
                width: 100%;
            }
        }
    
            
        
        article {
            margin: 4% 5% 0 5%;
            border-radius: 20px; 
            background-color: white;
            height: 320px;
            width: 40%;
            box-shadow: 3px 3px 8px rgb(206, 206, 206);
        
            >a{
                text-decoration: none;
                height: 100%;
            }
                
            >i { 
                position: absolute;
                font-size: 150%;
                margin: -45px 0 0 34%;
                cursor: pointer;
            }
        }
    
        .regular {
            z-index: 1;
        }
        
        .solid {
            z-index: 2;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            font-size: 200%;
                
            &:hover {
                font-size: 154%;
                background-image: linear-gradient(to top, $color-secondary, $color-primary );
                background-clip: text;
                -webkit-background-clip: text;
                animation: progress_heart 200ms linear;
            }   
        }
        
        .card_image {
            position: relative;
            text-align: end;
                
            >img {
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 250px;
                width: 100%;
            }
                    
            &_text {
                position: absolute;
                top: 5%;
                left: 70%;
                width: 25%;
                display: flex;
                justify-content: center;
                color: rgb(4, 137, 105);
                font-weight: bold;
                background-color: rgb(153, 226, 208);
            }
        }
        
        .card_info_text { 
            margin: -15px 0 0 5%;
            color: black;
            line-height: 0.5;
        
            >h3 {
                width: 100%;
                font-size: 100%;
                margin: 20px 0 0 0;
                font-weight: bolder;
            }          
        }
            
            
        
    /*FOOTER*/
        
        footer {
            background-color: rgb(53, 53, 53);
            color: white;
            padding: 4% 0 5% 5%;
            display: flex;
            flex-direction: column;
                
            #logo_white{
                padding: 0 0 4% 0;
                filter: brightness(20);
            }
        
            >a {
                @include footer_link();
            }
        
            >nav {
                display: flex;
                align-items: center;
        
                >a {
                    @include footer_link();
                }
        
                >i {
                     width: 3%;
                }                   
            }
        }


/*TABLETTE*/

@media all and (min-width : 641px) and (max-width : 990px) {
/*HEADER*/
    
    .logo_black {
        width: 40%;
    }

    
/*MAIN*/

    #search {
        height: 30px;
        padding: 2% 0 2% 5%;
    }

    #intro {
        padding-bottom: 15%;
        
        >h1 {
            margin: 10% 0 0 0;
        }

        >input {
            margin: 5% 0 0 0;
            width: 40%;
        }
    }

    #choice {

        >ul {
            flex-direction: column;
        }              
    }

    .choice_list {
        width: 85%;

        >span {
            margin-left: -36px;
        }
    }

    #menu {
        margin: 15% 0 0 0;
        padding:0 0 15% 0;
        display: flex;
        flex-direction: column;
    }

    article {
        height: 270px;
        width: 90%;
        
        >i { 
            margin: -45px 0 0 78%;
        }
    }

    .card_image {
        
        >img {
            height: 200px;
        }
    }

    .card_info_text { 
        margin: -10px 0 0 5%;

        >h3 {
            margin: 15px 0 0 0;
        }          
    }
    
    

/*FOOTER*/

    footer {
        padding: 7% 0 7% 7%;
        
        #logo_white{
            padding: 2% 0 5% 0;
        }

        >nav {

            >i {
                width: 5%;
             }              
        }
    }
}

/*MOBILE*/

@media all and (max-width : 640px) {
    /*HEADER*/
       
        .logo_black {
            width: 40%;
        }
         
    /*MAIN*/
    
        #search {
            height: 30px;
            padding: 2% 0 2% 5%;
        }
    
        #intro {
            padding-bottom: 15%;
            
            >h1 {
                margin: 10% 0 0 0;
            }
    
            >input {
                margin: 5% 0 0 0;
                width: 60%;
                }
        }
    
        #choice {

            >ul {
                flex-direction: column;
                margin-top: 35%;
                margin: 0;
            }     
        }
    
        .choice_list {
            width: 85%;
    
            >span {
                margin-left: -6%;
            }     
        }
    
        #menu {
            margin: 15% 0 0 0;
            padding:0 0 15% 0;
            display: flex;
            flex-direction: column;
        }
    
        article {
            height: 270px;
            width: 90%;

            >i { 
                margin: -45px 0 0 78%;
            }
        }
    
        .card_image {
            
            >img {
                height: 200px;
            }
        }
    
        .card_info_text { 
            margin: -2% 0 0 5%;
    
            >h3 {
                margin: 15px 0 0 0;
            }          
        }
        
        
    
    /*FOOTER*/
    
        footer {
            padding: 7% 0 7% 7%;
            
            #logo_white {
                padding: 2% 0 5% 0;
            }
    
            >nav {

                >i {
                    width: 8%;
                }                  
            }
        }
}


